@import "@commonVars";

.card {
    margin-bottom: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border-radius: 4px;
    background-color: var(--white);

    &:last-child {
        margin-bottom: 0;
    }

    &-body {
        padding: 20px;
    }

    &-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        display: block;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    &-iframe {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &-link {
        display: block;
        padding: 16px 12px;
        border: 1px solid var(--gray-10);
        margin-bottom: 20px;
    }

    &-tags {
        margin-top: 10px;

        li {
            margin-top: 10px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: var(--gray-65);
        }
    }
}
