@import "@commonVars";

.tags {
    margin-bottom: 20px;

    .card-body {
        padding-bottom: 10px;
    }

    li {
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: var(--gray-65);
    }
}
