@import "@commonVars";

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    background-color: var(--navy);
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.posts {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration: underline;
    }
}

strong {
    font-weight: 500;
}
