@import "@commonVars";

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 10px 0;
}

.posts {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration: underline;
    }
}

strong {
    font-weight: 500;
}
