@import "@commonVars";

.card-chat {
    .card-conversations {
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
